*{
    margin: 0;
    padding: 0;
}
/**{*/
/*  outline: 4px solid red!important;*/
/*}*/
body{
    width: 100%;
    height: 100vh;
    background-color: #F6F7F9;
    font-family: 'Arial';

}
p, h2, h1, ol, ul{
    margin: 0;
    padding: 0;
}
.header{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: 0px 4px 20px 0px #0000000D;
    z-index:1;


}
.headerContainer{
    width: 60%;
    height: 70px;
    display: flex;
   align-items: center;
    justify-content: space-between;
}
.title{
    display: flex;
    justify-content: center;
    gap: 16px;
}
.buttonGroup{
    display: flex;
    flex-direction: row;
    gap: 16px;
}
.sectionContainer{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: start;
    justify-content: center;

}
.noListItem{
    position: absolute;
    top: 50%;
    margin: 0 auto;
}
.fullWidth{
    width: 100%;
}
.withPadding{
    padding: 24px;
}
.notification {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 16px;
    width: 215px;
    height: 48px;
    position: fixed;
    bottom: 40px;
    right: 20%;
    background-color: white;
    border-radius: 5px;
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.3s, transform 0.3s;
    box-shadow: 0px 2px 8px 0px #00000026;

}

.showNotification {
    opacity: 1;
    transform: translateY(0);
}